colorama >= 0.4.3
psutil >= 5.7.0
lightwood == 0.54.0
cython >= 0.29.2
setuptools >= 21.2.1
wheel >= 0.32.2
attrs >= 18.2.0
numpy >= 1.15.2,!=1.19.4
pandas >= 0.23.4
pytz >= 2018.5
requests >= 2.23.0
scipy >= 1.1.0, <= 1.4.1
scikit-learn >=  0.22.1, <= 0.23.2
colorlog >= 4.0.2
xlrd >= 1.0.0
ImageHash == 4.0
imageio == 2.5.0
python-dateutil<2.8.1,>=2.1
pillow<7
mysql-connector-python >= 8.0.20
portalocker >= 1.7.0
flair >= 0.5,<=0.6.1
nonconformist >= 2.1.0
dill >= 0.3.1.1
moz_sql_parser >= 3.0.0
pg8000 >= 1.15.3
